@use './variables' as base;
@use './mixins' as *;

section,
footer {}

.hero,
.feature-hero,
.feature,
.testimonial,
.info-split,
.screenshot,
.footer {
  text-align: center;
}

.screen-reader-text {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.wrap {
  max-width: 50.063rem;
  width: 100%;
}

.title {
  font-size: 25px;
  line-height: 31px;
  font-weight: 600;
  color: base.$color-d-grey;
}