$font-body: "Inter", sans-serif;
$font-heading: "Arvo", serif;

$color-primary: #4CAF4F;
$text-grey: #263238;
$color-white: #FFFFFF;
$color-silver: #F5F7FA;
$color-grey: #717171;
$color-d-grey: #4D4D4D;
$color-l-grey: #89939E;


$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 959px
);
