$font-body: "Lato", sans-serif;
$font-heading: "Arvo", serif;

$color-primary: #e27730;
$color-text: #333;
$color-text-primary: #444;
$color-muted: #777;
$color-border: #ddd;
$color-bg-light: #f8f8f8;
$color-white: #fff;
$link-color: #036AAB;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 959px
);
